@model EquipmentForWorkplaceViewModel
@{
    ViewData["Title"] = "Add Employee";
}

@using (Html.BeginForm("Add", "Employee", FormMethod.Post))
{
    <div class="d-flex flex-column">
        <div class="row m-3">
            <p class="row display-6">Add new employee</p>
        </div>
        <div class="row m-2">
            <label class="col-sm-1 col-form-label">First Name</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="FirstName">
            </div>
        </div>
        <div class="row m-2">
            <label class="col-sm-1 col-form-label">Equipment</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="LastName">
            </div>
        </div>
        <div class="row m-2">
            <div class="col-sm-1 col-form-label"></div>
            <div class="col-sm-4">
                <button class="btn btn-primary" type="submit">Add Employee</button>
            </div>
        </div>
    </div>
}